.window {
  border: 2px solid white;
  border-radius: 10px;
  min-width: 830px;
  max-width: none;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.step-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
